header {
  & > h1 {
    font-size: 2rem;
    height: 70px;
    line-height: 70px;
  }
  & > nav > li > a {
    height: 70px;
    line-height: 70px;
    &.active {
      border-bottom: 4px solid #fff;
    }
  }
  & > h3.loginUser {
    font-size: 1rem;
    height: 70px;
    line-height: 70px;
  }
}